<div class="panel panel-default">
  <div class="panel-body">
<h1>About Us</h1>
<p>My name is Eric and I am learning to code with <%= link_to "One Month Rails", "http://onemonthrails.com" %>.</p>
<p>This is my very first website. It is called Pinteresting and it allows users to display pictures in a Pinterest style view.</p>
  </div>


</div>

<div class="row">
  <div class="col-lg-4">
<div class="container">
  <div class="row">
    <div class="span9 centred">
    <img class="img-circle" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10653827_10101845264826295_2309374231881820994_n.jpg?oh=802f24ca3784c0e29cbdfd651313d995&oe=5510BEE7&__gda__=1427632050_5bf07ded6b30242326c821293e6ccbc2" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    </div>
    </div>
</div>
    <h2>Eric Parker</h2>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

